/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 2em;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 1.5em;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  font-size: 1.25em;
  margin: 0;
  padding: 1.2em;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100px;
}

#ideas div img{
  margin: 0;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.75em;
}

.group ul {
  margin: 0 20px 20px 40px;
  padding: 10px;
}

.group ul li {
  font-size: 1.2em;
}

.item {
  width: 100%;
  flex: 1;
  margin: 10px 20px 10px 20px;
  align-self: center;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  display: flex;
  flex-direction: column;
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 5em;
  color: #fff;
}

header nav ul {
  display: flex;
  justify-content: center;
  font-style: bold;
}

header nav ul li {
  font-size: 1.25em;
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  align-self: center;
  display: flex;
  flex-direction: column;
  border: 3px solid #ff385c;
  padding: 10px;
  width: auto;
}

form label {
  font-weight: bold;
  margin: 10px 10px 30px 10px;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}
form div {
  display: flex;
  justify-content: space-between;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media all and (min-width: 480px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  header nav {
    margin: 0px 20px 20px 0px;
  }
  .logo {
    font-size: 3em;
  }
  form {
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  form div {
    flex-direction: column;
  }

  form div label {
    margin: 10px 0px 0px 0px;
  }

  .group {
    flex-direction: row;
    justify-content: space-between;
  }

  .item{
    width: 50%;
  }
  #about .item {
    align-self: center;
    width: 25%;
  }

  #about p {
    justify-self: center;
    align-self: center;
    width: 1;
    font-size: .9em;
  }

  #ideas div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #ideas div div{
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
  }

  #ideas div div .item{
    width: 100%;
    max-width: 1200px;
  }

  #host div{
    justify-self: center;
    align-self: center;
    font-size: .85em;
  }

}
